In [2]:
import pandas as pd
import pickle

In [3]:
# Import insurance data file reviewed by the customers
insurance_df = pd.read_csv('insurance_review_cleaned.csv')
insurance_df

,Date,Motor_Insurance,Years_of_experience,Vehicle_Type,Vehicle_Make,Vehicle_Model,Insurance_experience,Rate,Vehicle
0,2021/06/05,SRI LANKA INSURANCE,Between 1 -5 Years,LORRY,ASHOK-LEYLAND,CARGO 1618,GOOD FULL INSURANCE FOR HEAVY VEHICLES,4,ASHOK-LEYLAND CARGO 1618
1,2021/06/05,COOPERATIVE INSURANCE COMPANY LTD.,Between 5 - 10 Years,THREE WHEEL,BAJAJ,4 STROKE,CURRENTLY IM SATISFIED WITH THE SERVICE,3,BAJAJ 4 STROKE
2,2021/06/05,FAIRFIRST INSURANCE LIMITED,Less than 1 Year,CAR,TOYOTA,COROLLA 121,PROVIDE GOOD SERVICE FOR THE CUSTOMER,4,TOYOTA COROLLA 121
3,2021/06/05,CEYLINCO GENERAL INSURANCE LIMITED,Between 5 - 10 Years,CAR,TOYOTA,VITZ,EXCELLENT SERVICE,5,TOYOTA VITZ
4,2021/06/05,AIA INSURANCE LANKA LTD.,Less than 1 Year,CAR,TOYOTA,YARIS,GOOD,4,TOYOTA YARIS
...,...,...,...,...,...,...,...,...,...
197,2021/07/01,COOPERATIVE INSURANCE COMPANY LTD.,Between 1 -5 Years,CAB,NISSAN,NAVARA,IT WAS A FIRST PARTY INSURANCE AND HAD NISSAN....,3,NISSAN NAVARA
198,2021/07/01,JANASHAKTHI INSURANCE PLC,Less than 1 Year,NaN,YAMAHA,R1,I DO NOT HAVE ANY CLAIM EXPERIENCE SO FAR FROM...,4,YAMAHA R1
199,2021/07/01,SRI LANKA INSURANCE,Between 5 - 10 Years,CAR,TOYOTA,COROLLA 121,TAKEN MY CAR INSURANCE FROM SRI LANKA INSURANC...,4,TOYOTA COROLLA 121
200,2021/07/01,HNB ASSURANCE PLC,Between 1 -5 Years,LORRY,TATA,LPK 1615,NOT ANY PARTICULAR REASON FOR CHOOSING THE COM...,4,TATA LPK 1615
201,2021/07/01,HNB ASSURANCE PLC,Between 1 -5 Years,CAR,MITSUBISHI,LANCER CK2,I HAD A CLAIM EXPERIENCE WITH THE CAR INSURANC...,4,MITSUBISHI LANCER CK2

In [5]:
# Find the no of vehicle for each Insurance
insu_veh = insurance_df.groupby(['Motor_Insurance','Vehicle']).agg({'Vehicle':'nunique'})

In [6]:
insu_veh

                                                             Vehicle
Motor_Insurance          Vehicle
AIA INSURANCE LANKA LTD. BMW 520I                                  1
                         HONDA GRACE                               1
                         MERCEDES-BENZ W124 CLASS 200              1
                         MITSUBISHI PAJERO INTERCOOLER 1994        1
                         NISSAN BLUEBIRD                           1
...                                                              ...
SRI LANKA INSURANCE      TOYOTA HILUX SSR X                        1
                         TOYOTA PASSO                              1
                         TOYOTA PREMIO                             1
                         TOYOTA PREMIO G SUPERIOR                  1
                         TOYOTA VITZ KSP90                         1

[193 rows x 1 columns]

In [7]:
insu_veh = insu_veh.rename(columns={'Vehicle':'Qty'})

In [8]:
insu_veh

                                                             Qty
Motor_Insurance          Vehicle
AIA INSURANCE LANKA LTD. BMW 520I                              1
                         HONDA GRACE                           1
                         MERCEDES-BENZ W124 CLASS 200          1
                         MITSUBISHI PAJERO INTERCOOLER 1994    1
                         NISSAN BLUEBIRD                       1
...                                                          ...
SRI LANKA INSURANCE      TOYOTA HILUX SSR X                    1
                         TOYOTA PASSO                          1
                         TOYOTA PREMIO                         1
                         TOYOTA PREMIO G SUPERIOR              1
                         TOYOTA VITZ KSP90                     1

[193 rows x 1 columns]

In [9]:
# Reset the index by converting the Insurance into a column
insu_veh.reset_index(inplace=True)

In [10]:
insu_veh

              Motor_Insurance                             Vehicle  Qty
0    AIA INSURANCE LANKA LTD.                            BMW 520I    1
1    AIA INSURANCE LANKA LTD.                        HONDA GRACE     1
2    AIA INSURANCE LANKA LTD.       MERCEDES-BENZ W124 CLASS 200     1
3    AIA INSURANCE LANKA LTD.  MITSUBISHI PAJERO INTERCOOLER 1994    1
4    AIA INSURANCE LANKA LTD.                     NISSAN BLUEBIRD    1
..                        ...                                 ...  ...
188       SRI LANKA INSURANCE                  TOYOTA HILUX SSR X    1
189       SRI LANKA INSURANCE                        TOYOTA PASSO    1
190       SRI LANKA INSURANCE                       TOYOTA PREMIO    1
191       SRI LANKA INSURANCE            TOYOTA PREMIO G SUPERIOR    1
192       SRI LANKA INSURANCE                   TOYOTA VITZ KSP90    1

[193 rows x 3 columns]

In [11]:
insu_veh.to_csv('insu_veh.csv')

In [12]:
# Create a pivot table with all vehical type on columns and Insurance on rows, and Qty as values
insu_veh_pivot_df = insu_veh.pivot(index='Motor_Insurance',columns='Vehicle',values='Qty').fillna(0)

In [13]:
insu_veh_pivot_df

Vehicle,ASHOK-LEYLAND CARGO 1618,ASHOK-LEYLAND VIKING,ASHOK-LEYLAND VIKING 2004,ASHOK-LEYLAND VIKING 2012,AUDI A1,BAJAJ 125,BAJAJ 2 STROKE,BAJAJ 4 STROKE,BAJAJ CT 100,BAJAJ CT-100 2014,...,TOYOTA PRIUS 2012,TOYOTA TOWNACE CR27,TOYOTA TOWNACE CR27 1993,TOYOTA TOYOTA PREMIO 2017,TOYOTA VITZ,TOYOTA VITZ KSP90,TOYOTA VITZ KSP90 2005,TOYOTA VITZ SAFETY 2016,TOYOTA YARIS,YAMAHA R1
Motor_Insurance,,,,,,,,,,,,,,,,,,,,,
AIA INSURANCE LANKA LTD.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
ALLIANZ INSURANCE LANKA LTD.,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
AMANA TAKAFUL PLC,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ASSETLINE INSURANCE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CEYLINCO GENERAL INSURANCE LIMITED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
CONTINENTAL INSURANCE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
COOPERATIVE INSURANCE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
COOPERATIVE INSURANCE COMPANY LTD.,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FAIRFIRST INSURANCE LIMITED,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
HNB ASSURANCE PLC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
JANASHAKTHI INSURANCE PLC,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
LOLC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ORIENT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ORIENT INSURANCE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ORIENT INSURANCE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
ORIENTAL INSURANCE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PEOPLE'S INSURANCE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RIENT INSURANCE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SRI LANKA INSURANCE,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [14]:
# Find the correlation between every two Vehicles and build a correlation matrix using corr() method
# Used Spearman method in identifying the correlation. Pearson was not providing better results and Kendall is taking a long time for execution.
insu_veh_correlation_df = insu_veh_pivot_df.corr(method='spearman',min_periods=5)

In [15]:
insu_veh_correlation_df

Vehicle,ASHOK-LEYLAND CARGO 1618,ASHOK-LEYLAND VIKING,ASHOK-LEYLAND VIKING 2004,ASHOK-LEYLAND VIKING 2012,AUDI A1,BAJAJ 125,BAJAJ 2 STROKE,BAJAJ 4 STROKE,BAJAJ CT 100,BAJAJ CT-100 2014,...,TOYOTA PRIUS 2012,TOYOTA TOWNACE CR27,TOYOTA TOWNACE CR27 1993,TOYOTA TOYOTA PREMIO 2017,TOYOTA VITZ,TOYOTA VITZ KSP90,TOYOTA VITZ KSP90 2005,TOYOTA VITZ SAFETY 2016,TOYOTA YARIS,YAMAHA R1
Vehicle,,,,,,,,,,,,,,,,,,,,,
ASHOK-LEYLAND CARGO 1618,1.000000,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.080845,-0.080845,-0.055556,-0.055556,...,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,1.000000,-0.055556,-0.055556,-0.055556,-0.055556
ASHOK-LEYLAND VIKING,-0.055556,1.000000,-0.055556,-0.055556,-0.055556,-0.055556,0.687184,0.687184,1.000000,1.000000,...,-0.055556,-0.055556,-0.055556,1.000000,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556
ASHOK-LEYLAND VIKING 2004,-0.055556,-0.055556,1.000000,1.000000,-0.055556,-0.055556,-0.080845,-0.080845,-0.055556,-0.055556,...,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556
ASHOK-LEYLAND VIKING 2012,-0.055556,-0.055556,1.000000,1.000000,-0.055556,-0.055556,-0.080845,-0.080845,-0.055556,-0.055556,...,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556
AUDI A1,-0.055556,-0.055556,-0.055556,-0.055556,1.000000,-0.055556,-0.080845,0.687184,-0.055556,-0.055556,...,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TOYOTA VITZ KSP90,1.000000,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.080845,-0.080845,-0.055556,-0.055556,...,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,1.000000,-0.055556,-0.055556,-0.055556,-0.055556
TOYOTA VITZ KSP90 2005,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.080845,-0.080845,-0.055556,-0.055556,...,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,1.000000,-0.055556,-0.055556,-0.055556
TOYOTA VITZ SAFETY 2016,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.080845,-0.080845,-0.055556,-0.055556,...,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,1.000000,-0.055556,-0.055556
TOYOTA YARIS,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.080845,-0.080845,-0.055556,-0.055556,...,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,1.000000,-0.055556
YAMAHA R1,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,1.000000,-0.080845,-0.080845,-0.055556,-0.055556,...,-0.055556,1.000000,1.000000,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,-0.055556,1.000000

In [16]:
insu_veh_correlation_df.to_csv('Insurance_Vehical_Correlation_Matrix.csv')

In [17]:
pickle.dump(insu_veh_correlation_df, open('Insurance_Vehical_correlation_model.pkl','wb'))

In [18]:
insurance_df

,Date,Motor_Insurance,Years_of_experience,Vehicle_Type,Vehicle_Make,Vehicle_Model,Insurance_experience,Rate,Vehicle
0,2021/06/05,SRI LANKA INSURANCE,Between 1 -5 Years,LORRY,ASHOK-LEYLAND,CARGO 1618,GOOD FULL INSURANCE FOR HEAVY VEHICLES,4,ASHOK-LEYLAND CARGO 1618
1,2021/06/05,COOPERATIVE INSURANCE COMPANY LTD.,Between 5 - 10 Years,THREE WHEEL,BAJAJ,4 STROKE,CURRENTLY IM SATISFIED WITH THE SERVICE,3,BAJAJ 4 STROKE
2,2021/06/05,FAIRFIRST INSURANCE LIMITED,Less than 1 Year,CAR,TOYOTA,COROLLA 121,PROVIDE GOOD SERVICE FOR THE CUSTOMER,4,TOYOTA COROLLA 121
3,2021/06/05,CEYLINCO GENERAL INSURANCE LIMITED,Between 5 - 10 Years,CAR,TOYOTA,VITZ,EXCELLENT SERVICE,5,TOYOTA VITZ
4,2021/06/05,AIA INSURANCE LANKA LTD.,Less than 1 Year,CAR,TOYOTA,YARIS,GOOD,4,TOYOTA YARIS
...,...,...,...,...,...,...,...,...,...
197,2021/07/01,COOPERATIVE INSURANCE COMPANY LTD.,Between 1 -5 Years,CAB,NISSAN,NAVARA,IT WAS A FIRST PARTY INSURANCE AND HAD NISSAN....,3,NISSAN NAVARA
198,2021/07/01,JANASHAKTHI INSURANCE PLC,Less than 1 Year,NaN,YAMAHA,R1,I DO NOT HAVE ANY CLAIM EXPERIENCE SO FAR FROM...,4,YAMAHA R1
199,2021/07/01,SRI LANKA INSURANCE,Between 5 - 10 Years,CAR,TOYOTA,COROLLA 121,TAKEN MY CAR INSURANCE FROM SRI LANKA INSURANC...,4,TOYOTA COROLLA 121
200,2021/07/01,HNB ASSURANCE PLC,Between 1 -5 Years,LORRY,TATA,LPK 1615,NOT ANY PARTICULAR REASON FOR CHOOSING THE COM...,4,TATA LPK 1615
201,2021/07/01,HNB ASSURANCE PLC,Between 1 -5 Years,CAR,MITSUBISHI,LANCER CK2,I HAD A CLAIM EXPERIENCE WITH THE CAR INSURANC...,4,MITSUBISHI LANCER CK2

In [19]:
# Sum of ratings for each insurance
insu_rate = insurance_df.groupby('Motor_Insurance').agg({'Rate':'sum'})

In [20]:
insu_rate

                                    Rate
Motor_Insurance
AIA INSURANCE LANKA LTD.              41
ALLIANZ INSURANCE LANKA LTD.          87
AMANA TAKAFUL PLC                     32
ASSETLINE INSURANCE                    9
CEYLINCO GENERAL INSURANCE LIMITED   110
CONTINENTAL INSURANCE                  6
COOPERATIVE INSURANCE                  4
COOPERATIVE INSURANCE COMPANY LTD.    46
FAIRFIRST INSURANCE LIMITED           32
HNB ASSURANCE PLC                     64
JANASHAKTHI INSURANCE PLC             72
LOLC                                   5
ORIENT                                 5
ORIENT INSURANCE                      21
ORIENT INSURANCE                       3
ORIENTAL INSURANCE                     4
PEOPLE'S INSURANCE                     4
RIENT INSURANCE                        4
SRI LANKA INSURANCE                  197

In [21]:
insu_rate.reset_index(inplace=True)

In [22]:
insu_rate

                       Motor_Insurance  Rate
0             AIA INSURANCE LANKA LTD.    41
1         ALLIANZ INSURANCE LANKA LTD.    87
2                    AMANA TAKAFUL PLC    32
3                  ASSETLINE INSURANCE     9
4   CEYLINCO GENERAL INSURANCE LIMITED   110
5                CONTINENTAL INSURANCE     6
6                COOPERATIVE INSURANCE     4
7   COOPERATIVE INSURANCE COMPANY LTD.    46
8          FAIRFIRST INSURANCE LIMITED    32
9                    HNB ASSURANCE PLC    64
10           JANASHAKTHI INSURANCE PLC    72
11                                LOLC     5
12                             ORIENT      5
13                    ORIENT INSURANCE    21
14                   ORIENT INSURANCE      3
15                  ORIENTAL INSURANCE     4
16                 PEOPLE'S INSURANCE      4
17                     RIENT INSURANCE     4
18                 SRI LANKA INSURANCE   197

In [23]:
# Rank the Insurance according to the ratings
insu_rate['Tot_rate_insu'] = insu_rate['Rate'].rank(method='min', ascending=False).astype(int)

In [24]:
insu_rate

                       Motor_Insurance  Rate  Tot_rate_insu
0             AIA INSURANCE LANKA LTD.    41              7
1         ALLIANZ INSURANCE LANKA LTD.    87              3
2                    AMANA TAKAFUL PLC    32              8
3                  ASSETLINE INSURANCE     9             11
4   CEYLINCO GENERAL INSURANCE LIMITED   110              2
5                CONTINENTAL INSURANCE     6             12
6                COOPERATIVE INSURANCE     4             15
7   COOPERATIVE INSURANCE COMPANY LTD.    46              6
8          FAIRFIRST INSURANCE LIMITED    32              8
9                    HNB ASSURANCE PLC    64              5
10           JANASHAKTHI INSURANCE PLC    72              4
11                                LOLC     5             13
12                             ORIENT      5             13
13                    ORIENT INSURANCE    21             10
14                   ORIENT INSURANCE      3             19
15                  ORIENTAL INSURANCE     4             15
16                 PEOPLE'S INSURANCE      4             15
17                     RIENT INSURANCE     4             15
18                 SRI LANKA INSURANCE   197              1

In [25]:
# List top ten insurance
insu_rate.sort_values('Tot_rate_insu').head(10)

                       Motor_Insurance  Rate  Tot_rate_insu
18                 SRI LANKA INSURANCE   197              1
4   CEYLINCO GENERAL INSURANCE LIMITED   110              2
1         ALLIANZ INSURANCE LANKA LTD.    87              3
10           JANASHAKTHI INSURANCE PLC    72              4
9                    HNB ASSURANCE PLC    64              5
7   COOPERATIVE INSURANCE COMPANY LTD.    46              6
0             AIA INSURANCE LANKA LTD.    41              7
8          FAIRFIRST INSURANCE LIMITED    32              8
2                    AMANA TAKAFUL PLC    32              8
13                    ORIENT INSURANCE    21             10

In [26]:
# Find unique total insurance and ratings for each one
# get total ratings
# get insurance count
insu_rate = insurance_df.groupby('Motor_Insurance').agg({'Rate':'sum', 'Motor_Insurance' : 'count'})

In [27]:
insu_rate

                                    Rate  Motor_Insurance
Motor_Insurance
AIA INSURANCE LANKA LTD.              41               10
ALLIANZ INSURANCE LANKA LTD.          87               25
AMANA TAKAFUL PLC                     32               15
ASSETLINE INSURANCE                    9                2
CEYLINCO GENERAL INSURANCE LIMITED   110               28
CONTINENTAL INSURANCE                  6                2
COOPERATIVE INSURANCE                  4                1
COOPERATIVE INSURANCE COMPANY LTD.    46               12
FAIRFIRST INSURANCE LIMITED           32               14
HNB ASSURANCE PLC                     64               17
JANASHAKTHI INSURANCE PLC             72               19
LOLC                                   5                1
ORIENT                                 5                1
ORIENT INSURANCE                      21                5
ORIENT INSURANCE                       3                1
ORIENTAL INSURANCE                     4                1
PEOPLE'S INSURANCE                     4                1
RIENT INSURANCE                        4                1
SRI LANKA INSURANCE                  197               46

In [28]:
insu_rate = insu_rate.rename(columns={'Motor_Insurance':'num_count'})

In [29]:
insu_rate.reset_index(inplace=True)

In [30]:
insu_rate

                       Motor_Insurance  Rate  num_count
0             AIA INSURANCE LANKA LTD.    41         10
1         ALLIANZ INSURANCE LANKA LTD.    87         25
2                    AMANA TAKAFUL PLC    32         15
3                  ASSETLINE INSURANCE     9          2
4   CEYLINCO GENERAL INSURANCE LIMITED   110         28
5                CONTINENTAL INSURANCE     6          2
6                COOPERATIVE INSURANCE     4          1
7   COOPERATIVE INSURANCE COMPANY LTD.    46         12
8          FAIRFIRST INSURANCE LIMITED    32         14
9                    HNB ASSURANCE PLC    64         17
10           JANASHAKTHI INSURANCE PLC    72         19
11                                LOLC     5          1
12                             ORIENT      5          1
13                    ORIENT INSURANCE    21          5
14                   ORIENT INSURANCE      3          1
15                  ORIENTAL INSURANCE     4          1
16                 PEOPLE'S INSURANCE      4          1
17                     RIENT INSURANCE     4          1
18                 SRI LANKA INSURANCE   197         46

In [31]:
# average ratings for insurances
# average_ratings = total_ratins / frequency
tot_rate = insu_rate['Rate']
tot_count_insu = insu_rate['num_count']

In [32]:
insu_rate['weight'] = tot_rate / tot_count_insu

In [33]:
insu_rate

                       Motor_Insurance  Rate  num_count    weight
0             AIA INSURANCE LANKA LTD.    41         10  4.100000
1         ALLIANZ INSURANCE LANKA LTD.    87         25  3.480000
2                    AMANA TAKAFUL PLC    32         15  2.133333
3                  ASSETLINE INSURANCE     9          2  4.500000
4   CEYLINCO GENERAL INSURANCE LIMITED   110         28  3.928571
5                CONTINENTAL INSURANCE     6          2  3.000000
6                COOPERATIVE INSURANCE     4          1  4.000000
7   COOPERATIVE INSURANCE COMPANY LTD.    46         12  3.833333
8          FAIRFIRST INSURANCE LIMITED    32         14  2.285714
9                    HNB ASSURANCE PLC    64         17  3.764706
10           JANASHAKTHI INSURANCE PLC    72         19  3.789474
11                                LOLC     5          1  5.000000
12                             ORIENT      5          1  5.000000
13                    ORIENT INSURANCE    21          5  4.200000
14                   ORIENT INSURANCE      3          1  3.000000
15                  ORIENTAL INSURANCE     4          1  4.000000
16                 PEOPLE'S INSURANCE      4          1  4.000000
17                     RIENT INSURANCE     4          1  4.000000
18                 SRI LANKA INSURANCE   197         46  4.282609

In [34]:
# rank insurance
insu_rate['Top_rate_insu'] = insu_rate['weight'].rank(method='min', ascending=False).astype(int)

In [35]:
insu_rate

,Motor_Insurance,Rate,num_count,weight,Top_rate_insu
0,AIA INSURANCE LANKA LTD.,41,10,4.100000,6
1,ALLIANZ INSURANCE LANKA LTD.,87,25,3.480000,15
2,AMANA TAKAFUL PLC,32,15,2.133333,19
3,ASSETLINE INSURANCE,9,2,4.500000,3
4,CEYLINCO GENERAL INSURANCE LIMITED,110,28,3.928571,11
5,CONTINENTAL INSURANCE,6,2,3.000000,16
6,COOPERATIVE INSURANCE,4,1,4.000000,7
7,COOPERATIVE INSURANCE COMPANY LTD.,46,12,3.833333,12
8,FAIRFIRST INSURANCE LIMITED,32,14,2.285714,18
9,HNB ASSURANCE PLC,64,17,3.764706,14
10,JANASHAKTHI INSURANCE PLC,72,19,3.789474,13
11,LOLC,5,1,5.000000,1
12,ORIENT,5,1,5.000000,1
13,ORIENT INSURANCE,21,5,4.200000,5
14,ORIENT INSURANCE,3,1,3.000000,16
15,ORIENTAL INSURANCE,4,1,4.000000,7
16,PEOPLE'S INSURANCE,4,1,4.000000,7
17,RIENT INSURANCE,4,1,4.000000,7
18,SRI LANKA INSURANCE,197,46,4.282609,4

In [36]:
# The insurance with the highest rating average
insu_rate.sort_values('Top_rate_insu').head(10)

             Motor_Insurance  Rate  num_count    weight  Top_rate_insu
12                   ORIENT      5          1  5.000000              1
11                      LOLC     5          1  5.000000              1
3        ASSETLINE INSURANCE     9          2  4.500000              3
18       SRI LANKA INSURANCE   197         46  4.282609              4
13          ORIENT INSURANCE    21          5  4.200000              5
0   AIA INSURANCE LANKA LTD.    41         10  4.100000              6
6      COOPERATIVE INSURANCE     4          1  4.000000              7
17           RIENT INSURANCE     4          1  4.000000              7
15        ORIENTAL INSURANCE     4          1  4.000000              7
16       PEOPLE'S INSURANCE      4          1  4.000000              7